<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>13.0f1</Version>
<Cluster>
<Name>用户配置</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>硬件配置</Name>
<NumElts>2</NumElts>
<String>
<Name>硬件引用句柄&lt;替换此项&gt;</Name>
<Val></Val>
</String>
<EW>
<Name>信号类型&lt;替换该项&gt;</Name>
<Choice>Sine Wave</Choice>
<Choice>Square Wave</Choice>
<Val>0</Val>
</EW>
</Cluster>
<Cluster>
<Name>分析配置</Name>
<NumElts>1</NumElts>
<Boolean>
<Name>统计</Name>
<Val>1</Val>
</Boolean>
</Cluster>
<EW>
<Name>新采集到数据时如何操作</Name>
<Choice>Replace</Choice>
<Choice>Overlay</Choice>
<Choice>Append</Choice>
<Val>2</Val>
</EW>
</Cluster>
</LVData>