<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>11.0.1f1</Version>
<Cluster>
<Name>User Configuration</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>5</NumElts>
<DAQChannel>
<Name>Physical Channel</Name>
<Val>Dev1/ai0</Val>
</DAQChannel>
<DBL>
<Name>Maximum Input</Name>
<Val>10.00000000000000</Val>
</DBL>
<DBL>
<Name>Minimum Input</Name>
<Val>-10.00000000000000</Val>
</DBL>
<DBL>
<Name>Sample Rate</Name>
<Val>10000.00000000000000</Val>
</DBL>
<I32>
<Name>Number of Samples</Name>
<Val>1000</Val>
</I32>
</Cluster>
<Cluster>
<Name>Analysis Configuration</Name>
<NumElts>1</NumElts>
<Boolean>
<Name>Statistics</Name>
<Val>1</Val>
</Boolean>
</Cluster>
<EW>
<Name>New Data Behavior</Name>
<Choice>Replace</Choice>
<Choice>Overlay</Choice>
<Choice>Append</Choice>
<Val>0</Val>
</EW>
</Cluster>
</LVData>